@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

input,
button,
a,
ul,
li {
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.footer {
  margin-top: 102px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 45px;
}

.footer--team {
  color: var(--color-green-100, #74c69d);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer__info--title {
  color: var(--color-dark-100, #212529);
  text-align: center;
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
}

.footer__info--text {
  max-width: 404px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
}

.footer__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.footer__cards__card {
  width: 279px;
  height: 299px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 20px 51px 19px 51px;
  margin-bottom: 45px;
}

.footer__cards__card--img {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 19px;
}

.footer__cards__card--title {
  color: #212529;
  font-family: Crimson Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%; /* 30px */
  margin-bottom: 17px;
}

.footer__cards__card--text {
  color: gray;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}

.footer--btn {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
  border-radius: 5px;
  background: var(--color-dark, #212529);
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  margin: auto;
  cursor: pointer;
}
.footer--btn:hover {
  background-color: #fff;
  border: 1px solid var(--color-dark, #212529);
  color: var(--color-dark, #212529);
}

.footer__social {
  padding: 54px 0;
  background: #74c69d;
  margin-top: 54px;
}

.social__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__social__imgs {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__social__imgs--img {
  width: 25.714px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.foter__social--text {
  color: var(--color-white-100, #fff);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
}

@media screen and (max-width: 900px) {
  .footer__cards {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 660px) {
  .footer__cards {
    justify-content: center;
    gap: 20px;
  }
  .social__wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .footer--team {
    font-size: 16px;
  }
  .footer__info--title {
    font-size: 24px;
  }
  .footer__info--text {
    max-width: 335px;
    font-size: 20px;
  }
}
.middle {
  align-items: center;
  margin-top: 73px;
}

.middle__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle__left {
  width: 480px;
  margin-top: 155px;
}

.middle__title {
  color: var(--color-dark-100, #212529);
  font-feature-settings: "clig" off, "liga" off;
  /* Typography/Heading/Bold 1 */
  font-family: "Crimson Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
}

.middle__text {
  color: var(--color-dark-50, rgba(33, 37, 41, 0.5));
  font-feature-settings: "clig" off, "liga" off;
  /* Typography/Body/Regular */
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
  margin-top: 16px;
}

.middle__btn {
  border-radius: 5px;
  background: var(--color-dark, #212529);
  padding: 13px 29px;
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
  margin-top: 16px;
  cursor: pointer;
}
.middle__btn:hover {
  background-color: #fff;
  border: 1px solid var(--color-dark, #212529);
  color: var(--color-dark, #212529);
}

/*-----media----*/
@media screen and (max-width: 1120px) {
  .middle__title {
    font-size: 24px;
  }
  .middle__text {
    font-size: 15px;
  }
  .middle__btn {
    width: 170px;
    height: 48px;
  }
  .middle__right .middle__img {
    max-width: 400px;
    max-height: 500px;
  }
}
@media screen and (max-width: 920px) {
  .middle {
    margin-top: 0px;
  }
  .middle__wrap {
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
  }
  .middle__left {
    width: 100%;
    margin-top: 0px;
  }
  .middle__title {
    width: 100%;
    font-size: 24px;
    margin: 0;
    text-align: center;
    display: block;
  }
  .middle__text {
    font-size: 15px;
    text-align: center;
    display: block;
    margin-bottom: 16px;
  }
  .middle__btn {
    width: 170px;
    height: 48px;
    margin: 0 auto;
    display: block;
  }
  .middle__right .middle__img {
    max-width: 600px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .middle {
    margin-top: 0px;
  }
  .middle__wrap {
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
  }
  .middle__left {
    width: 100%;
    margin-top: 0px;
  }
  .middle__title {
    width: 315px;
    font-size: 24px;
    margin: 0;
    display: block;
    text-align: start;
  }
  .middle__text {
    max-width: 315px;
    font-size: 15px;
    display: block;
    margin-bottom: 16px;
    text-align: start;
  }
  .middle__btn {
    width: 170px;
    height: 48px;
    margin: 0;
    display: block;
  }
  .middle__right .middle__img {
    max-width: 405px !important;
    max-height: 315px;
    margin: 0 auto;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */