.footer {
  margin-top: 102px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 45px;
}
.footer--team {
  color: var(--color-green-100, #74c69d);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.footer__info--title {
  color: var(--color-dark-100, #212529);
  text-align: center;
  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
}
.footer__info--text {
  max-width: 404px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
.footer__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.footer__cards__card {
  width: 279px;
  height: 299px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 20px 51px 19px 51px;
  margin-bottom: 45px;
}
.footer__cards__card--img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  margin-bottom: 19px;
}
.footer__cards__card--title {
  color: #212529;
  font-family: Crimson Text;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%; /* 30px */
  margin-bottom: 17px;
}
.footer__cards__card--text {
  color: gray;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}
.footer--btn {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
  border-radius: 5px;
  background: var(--color-dark, #212529);
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  margin: auto;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    border: 1px solid var(--color-dark, #212529);
    color: var(--color-dark, #212529);
  }
}
.footer__social {
  padding: 54px 0;
  background: #74c69d;
  margin-top: 54px;
}
.social__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__social__imgs {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__social__imgs--img {
  width: 25.714px;
  height: 18px;
  object-fit: cover;
}
.foter__social--text {
  color: var(--color-white-100, #fff);
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
@media screen and (max-width:900px) {
    .footer__cards{
        justify-content: center;
        gap: 30px;
    }
}
@media screen and (max-width: 660px) {
    .footer__cards{
        justify-content: center;
        gap: 20px;
    }
    .social__wrap{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width: 500px) {
  .footer--team {
    font-size: 16px;
  }
  .footer__info--title {
    font-size: 24px;
    
  }
  .footer__info--text {
    max-width: 335px;
    font-size: 20px;
  }
}
