.middle {
    align-items: center;
    margin-top: 73px;
  }
  
  .middle__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .middle__left {
    width: 480px;
    margin-top: 155px;
  }
  
  .middle__title {
    color: var(--color-dark-100, #212529);
    font-feature-settings: "clig" off, "liga" off;
    /* Typography/Heading/Bold 1 */
    font-family: "Crimson Text";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
  }
  
  .middle__text {
    color: var(--color-dark-50, rgba(33, 37, 41, 0.5));
    font-feature-settings: "clig" off, "liga" off;
    /* Typography/Body/Regular */
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 18.75px */
    margin-top: 16px;
  }
  
  .middle__btn {
    border-radius: 5px;
    background: var(--color-dark, #212529);
    padding: 13px 29px;
    color: #FFF;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%; /* 25px */
    margin-top: 16px;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        border: 1px solid var(--color-dark, #212529);
        color: var(--color-dark, #212529);
    }
  }




  /*-----media----*/


  @media screen and (max-width:1120px){

    .middle__wrap {

        
    }
    .middle__left {
    }
    .middle__title {
        font-size:24px;
    }
    .middle__text {
        font-size: 15px;
    }
    .middle__btn {
        width: 170px;
        height: 48px;
    }
    .middle__right {
        .middle__img {
            max-width: 400px;
            max-height: 500px;
            
        }
        
    }
  }


  @media screen and (max-width:920px){
    .middle{
        margin-top: 0px;

    }
    .middle__wrap {
    flex-direction: column-reverse;
    width: 100%;
        gap: 30px;
    }
    .middle__left {
        width: 100%;
        margin-top: 0px;
    }
    .middle__title {
        width: 100%;
        font-size:24px;
        margin: 0;
        text-align: center;
            display: block;
    }
    .middle__text {
        font-size: 15px;
        text-align: center;
            display: block;
            margin-bottom: 16px;
    }
    .middle__btn {
        width: 170px;
        height: 48px;
        margin: 0 auto;
        display: block;
    }
    .middle__right {
        .middle__img {
            max-width: 600px;
            max-height: 500px;
            margin: 0 auto;
            display: block;
        }
        
    }
  }




  @media screen and (max-width:580px){
    .middle{
        margin-top: 0px;

    }
    .middle__wrap {
    flex-direction: column-reverse;
    width: 100%;
        gap: 30px;
    }
    .middle__left {
        width: 100%;
        margin-top: 0px;
    }
    .middle__title {
        width: 315px;
        font-size:24px;
        margin: 0;
            display: block;
            text-align: start;
    }
    .middle__text {
        max-width: 315px;;
        font-size: 15px;
            display: block;
            margin-bottom: 16px;
            text-align: start;
    }
    .middle__btn {
        width: 170px;
        height: 48px;
        margin: 0;
        display: block;
    }
    .middle__right {
        .middle__img {
            max-width: 405px !important;
            max-height: 315px;
            margin: 0 auto;
            display: block;
        }
        
    }
  }